.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
CHECKLIST_TRIEN_KHAI.md
HOANG_THANH.md
HUONG_DAN_PHAN_QUYEN.md
KIEN_TRUC_DIAGRAM.md
README_PHAN_QUYEN.md
TEST_GUIDE.md
THAY_DOI_SUMMARY.md